---
apiVersion: nais.io/v1
kind: ReplicationConfig
metadata:
  name: {{ include "krakend-operator.fullname" . }}
  labels:
    {{- include "krakend-operator.labels" . | nindent 4 }}
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # replicationconfig is considered part of the release.
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "-5"
spec:
  namespaceSelector:
    matchExpressions:
      - key: nais.io/krakend
        operator: Exists
  templateValues:
    namespace:
      labels:
        - team
  resources:
    - template: |
        apiVersion: krakend.nais.io/v1
        kind: Krakend
        metadata:
          name: [[ .Values.team ]]
        spec:
          name: [[ .Values.team ]]
          ingress:
            enabled: true
            className: "{{ .Values.krakend.ingressClassName }}"
            annotations: {}
            hosts:
              - host: "[[ .Values.team ]]-gw.{{ .Values.krakend.ingressDomain }}"
                paths:
                  - path: /
                    pathType: ImplementationSpecific
          authProviders:
            - name: maskinporten
              alg: RS256
              jwkUrl: "{{ .Values.krakend.maskinporten.jwkUrl }}"
              issuer: "{{ .Values.krakend.maskinporten.issuer }}"
          {{- if .Values.krakend.webproxy }}
          deployment:
            extraEnvVars:
              - name: HTTP_PROXY
                value: http://webproxy.nais:8088
              - name: http_proxy
                value: http://webproxy.nais:8088
              - name: HTTPS_PROXY
                value: http://webproxy.nais:8088
              - name: https_proxy
                value: http://webproxy.nais:8088
              - name: NO_PROXY
                value: localhost,127.0.0.1,10.254.0.1,.local,.adeo.no,.nav.no,.aetat.no,.devillo.no,.oera.no,.nais.io,.aivencloud.com,.intern.dev.nav.no
              - name: no_proxy
                value: localhost,127.0.0.1,10.254.0.1,.local,.adeo.no,.nav.no,.aetat.no,.devillo.no,.oera.no,.nais.io,.aivencloud.com,.intern.dev.nav.no
          {{- end }}
