krakend:
  krakend:
    env:
      - name: USAGE_DISABLE
        value: "1"
  replicaCount: 2
  image:
    registry: docker.io
    repository: devopsfaith/krakend
    tag: 2.5.0
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 1000
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL
  ingress:
    enabled: true
    className: "nais-ingress-external"
    annotations: {}
