name: Build and Push Debugapp Container Image

on:
  push:
    branches:
      - main
    paths:
      - debugapp/**
      - .github/workflows/debugapp.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-debugapp
  cancel-in-progress: true

env:
  IMAGE_REPOSITORY: oci://europe-north1-docker.pkg.dev/nais-io/nais
  SERVICE_ACCOUNT: gh-krakend
  NAME: debugapp-krakend

jobs:
  build_push:
    outputs:
      version: ${{ steps.build-push-sign.outputs.version }}
    permissions:
      contents: "read"
      id-token: "write"
    name: Build and push to GAR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.4
      - uses: nais/platform-build-push-sign@main
        id: build-push-sign
        with:
          context: debugapp
          dockerfile: debugapp/Dockerfile
          name: ${{ env.NAME }}
          google_service_account: ${{ env.SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ secrets.NAIS_IO_WORKLOAD_IDENTITY_PROVIDER }}
          push: true
