name: Update Krakend Chart

on:
  workflow_dispatch:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Run once a day
    - cron: '0 0 * * *'

permissions:
  contents: write
  pull-requests: write

jobs:
  updatecli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Install Updatecli in the runner
        uses: updatecli/updatecli-action@v2

      - name: Run Updatecli in Dry Run mode
        run: updatecli diff --config charts/krakend/updatecli.d

      - name: Run Updatecli in Apply mode
        run: updatecli apply --config charts/krakend/updatecli.d

      - uses: azure/setup-helm@v3
        name: "Setup Helm"
        with:
          version: "3.12.0"

      - name: Package and copy chart
        run: |-
          helm package charts/krakend -d charts/krakend-operator

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6.0.1
        with:
          commit-message: "feat: upgrade helm charts"
          title: "deps: upgrade KrakenD helm chart and image versions"
          body: |
            Automatic upgrade of KrakenD helm chart and image tag versions using https://github.com/updatecli/updatecli
          branch: upgrade-krakend-helm-chart
          base: main
